<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo mt-1"><strong>TOMATO - Your Fav Food Delivery Hub</strong></a>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/cart-page']">
                        <mat-icon>shopping_cart</mat-icon>
                        <strong>Cart</strong>
                        <!-- <p>Cart</p> -->
                    </a>
                    <a  class="ml-3" [routerLink]="['/add-food']">
                        <mat-icon>fastfood</mat-icon>
                        <strong>Add New Food Item</strong>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>