<footer class="footer text-lg-start mt-xl-5 pt-4">

  <div class="LineLogo justify-content-md-center text-center row">
    
    <div class="d-flex align-items-center col">
      <img width="170" src="../../assets/LOGO-2.0-removebg-preview.png" class="mx-auto">
      </div>

  </div>
  
  
    <div class="footer-main justify-content-md-center text-center row" styles="">
        <div id="contact" class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0" >
          <h2 class="ml-3">Contact Me</h2>
          <p class="">jobs.ayushsharma@gmail.com</p>
          <p class="">+91 9874180842</p>
          <p class="">CB-1/1 Railpukur Road,Kolkata - 700059</p>
        </div>

        <div id="quicklinks" class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h2>Quick Links</h2>
          <ul style="list-style-type:none;">
            <li><a class="QL" href="#">Home</a></li>
            <li><a class="QL" href="#">Menu</a></li>
            <li><a class="QL" href="#">Order Online</a></li>
            <li><a class="QL" href="#">About Us</a></li>
            <li><a class="QL" href="#">Contact Us</a></li>
          </ul>
        </div>
        
        <div id="socials" class=" text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h2>Follow Me</h2>
          <span class="social-icons">
            <a href="#" class="btn btn btn-floating m-1" ><i class="bi bi-facebook fa-xl"></i></a>
            <a href="#" class="btn btn btn-floating m-1"><i class="bi bi-instagram fa-xl"></i></a>
            <a href="#" class="btn btn btn-floating m-1"><i class="bi bi-whatsapp fa-xl"></i></a>
            <a href="#" class="btn btn btn-floating m-1"><i class="bi bi-github fa-xl"></i></a>
          </span>
        </div>

        <div id="Newsletter" class=" col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h2 class="">Sign up to our newsletter</h2>
          <p>Subscribe to the weekly newsletter for all the latest updates</p>
          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" placeholder="Enter email..." style="background-color: rgba(0, 0, 0, 0.2);" />
            <label class="form-label" for="form5Example2"></label>
          </div>

          <button type="submit" class="btn btn-outline-white btn">Subscribe</button>
        </div>
      </div>
      
      <div class="Copyright text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); margin:30px 0px 0px 0px">
        © 2020 Copyright:
        <a class="text-white" href="#">Tomato.com</a>
      </div>
  </footer>