mat-expansion-panel-header{
    height: 100px;
}
/* image-box{
    background-size: cover;
} */
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  a{
    cursor: pointer;
  }

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  img{
    margin-top: auto;
    height: 90px;
    width: 100px;
  }