<div class="card shadow mt-5 p-5">
    <div class="card-body p-5">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Food ID</mat-label>
                        <input matInput type="text" formControlName="id">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Food Name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Food Price(In INR)</mat-label>
                        <input matInput type="text" formControlName="price">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Food Description(Description Will Be Seperated By Space)</mat-label>
                        <input matInput type="text" formControlName="desc">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Food Tags(Tags Will Be Seperated By Space)</mat-label>
                        <input matInput type="text" formControlName="tags">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Favourite ?</mat-label>
                        <mat-select formControlName="favourite">
                          <mat-option value="1">Yes</mat-option>
                          <mat-option value="0">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Image URL</mat-label>
                        <input matInput type="text" formControlName="imageUrl">
                    </mat-form-field>        
                </tr>
                <tr>
                    <mat-form-field appearance="legacy">
                        <mat-label>Cooking Time</mat-label>
                        <input matInput type="text" formControlName="cookingTime">
                    </mat-form-field>        
                </tr>
        
                <tr>
                    <mat-label><strong>Stars</strong></mat-label>
                    <mat-slider
                    thumbLabel
                    tickInterval="0.1"
                    step="0.1"
                    min="0"
                    max="5"
                    aria-label="units"
                    class="ml-5"
                    formControlName="stars"
                    >
                </mat-slider>   
                </tr>
            </table>
        
              <!-- <mat-form-field appearance="legacy">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
              </mat-form-field> -->
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    
    </div>
</div>
<!-- <div class="container mt-5"> -->
<!-- </div> -->
