<div class="cart-page flex-only mt-5" *ngIf="cartItemsToDisplay.length; else emptycart">
    <div class="left-part">
        <div class="headings flex">
            <div class="product text-center ">PRODUCT</div>
            <div class="price">PRICE</div>
            <div class="quantity">QUANTITY</div>
            <div class="subtotal">SUBTOTAL</div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-item-wrapper" *ngFor="let cartItem of cartItemsToDisplay">
            <div class="cart-items flex justify-content-center">
                <div class="product text-center">
                    <img src="../../{{cartItem.food.imageUrl}}" alt="">
                    <span>{{cartItem.food.name}}</span>
                </div>
                <div class="price flex">{{cartItem.food.price}}</div>
                <div class="quantity flex">
                    <div class="wrapper flex">
                        <div id="qb" (click)="decClickedCardCount(cartItem)"><i class="fa-solid fa-minus fa-xs"></i></div>
                        <div id="qa flex" class="ml-4" style="font-weight: 600;">{{cartItem.quantity}}</div>
                        <div id="qc" (click)="incClickedCardCount(cartItem)"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>
                    </div>
                </div>
                <div class="subtotal"> {{cartItem.getPrice()}} </div>
                <br>
            </div>
            <div class="horizontal-line"></div>
        </div>

    </div>

    <div class="right-part">
        <h2>CART TOTALS</h2>
        <div class="rsubtotal flex justify-content-sb">
            <div class="title">
                Subtotal
            </div>
            <div class="sprice">
                {{getOriginalCost()}}
            </div>
        </div>
        <div class="shipping flex justify-content-sb">
            <div class="title">
                Delivery
            </div>
            <div class="stext">
                Delivery costs are calculated during checkout.
            </div>
        </div>
        <div class="total flex justify-content-sb">
            <div class="title">
                Total
            </div>
            <div id="tprice">
                <!-- <div id="tpricewithoutcoupon"  style="font-size: 30px;">
                    £68.45
                </div> -->
                <div id="strikethroughprice" style="font-size: 30px; color:#eaeaea">
                    £{{getOriginalCost()}}
                </div>
                <div id="idtpricewithcoupon" class="mt-3" style="font-size: 30px;">
                    £{{getFinalCost()}} <span style="color:green; font-size: medium;"
                        id="discount-percent">-{{couponDiscount}}%</span>
                </div>
            </div>
        </div>
        <div class="coupon flex mb-4">
            <div class="cpn1">
                <input type="text" [(ngModel)]="couponCode" name="coupon-code" id="" placeholder="Enter coupon code">
            </div>
            <div class="cpn2">
                <button id="apply-coupon" (click)="validateCoupon()">Apply</button>
            </div>

        </div>
        <div id="error-bar"><i class="fa-solid fa-triangle-exclamation"></i> Invalid Coupon Code</div>
        <div id="correct-bar"><i class="fa-solid fa-circle-check"></i> Coupon Code Applied</div>

        <div class="checkout flex justify-content-center mt-3">
            <button id="header-text-btn" routerLink='/checkout'>Proceed To Checkout</button>
        </div>
    </div>
</div>
<ng-template #emptycart>
    <app-empty-cart></app-empty-cart>
</ng-template>