<div class="cart-page flex-only mt-5 ">
    <div class="left-part">
        <div class="headings flex">
            <div class="product text-center ">PRODUCT</div>
            <div class="price">PRICE</div>
            <div class="quantity">QUANTITY</div>
            <div class="subtotal">SUBTOTAL</div>
        </div>

        <div class="horizontal-line"></div>
        
        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div class="wrapper flex">
                    <div id="qb"><i class="fa-solid fa-minus fa-xs"></i></div>
                    <div id="qa flex" class="ml-4">3</div>
                    <div id="qc"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>    
                </div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div class="wrapper flex">
                    <div id="qb"><i class="fa-solid fa-minus fa-xs"></i></div>
                    <div id="qa flex" class="ml-4">3</div>
                    <div id="qc"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>    
                </div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div class="wrapper flex">
                    <div id="qb"><i class="fa-solid fa-minus fa-xs"></i></div>
                    <div id="qa flex" class="ml-4">3</div>
                    <div id="qc"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>    
                </div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div class="wrapper flex">
                    <div id="qb"><i class="fa-solid fa-minus fa-xs"></i></div>
                    <div id="qa flex" class="ml-4">3</div>
                    <div id="qc"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>    
                </div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div class="wrapper flex">
                    <div id="qb"><i class="fa-solid fa-minus fa-xs"></i></div>
                    <div id="qa flex" class="ml-4">3</div>
                    <div id="qc"><i class="fa-solid fa-plus ml-4 fa-xs"></i></div>    
                </div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

    </div>

    <div class="right-part">
        <h2>CART  TOTALS</h2>
        <div class="rsubtotal flex justify-content-sb">
            <div class="title">
                Subtotal
            </div>
            <div class="sprice">
                £68.45
            </div>
        </div>
        <div class="shipping flex justify-content-sb">
            <div class="title">
                Delivery
            </div>
            <div class="stext">
                Delivery costs are calculated during checkout.
            </div>
        </div>
        <div class="total flex justify-content-sb">
            <div class="title">
                Total
            </div>
            <div id="tprice">
                <!-- <div id="tpricewithoutcoupon"  style="font-size: 30px;">
                    £68.45
                </div> -->
                <div id="strikethroughprice" style="font-size: 30px; color:#eaeaea">
                    £{{originalAmount}}
                </div>
                <div id="idtpricewithcoupon" class="mt-3"  style="font-size: 30px;">
                    £{{totalAmount}} <span style="color:green; font-size: medium;" id="discount-percent">-{{couponDiscount}}%</span> 
                </div>
            </div>
        </div>
        <div class="coupon flex mb-4">
            <div class="cpn1">
                <input type="text" [(ngModel)]="couponCode" name="coupon-code" id="" placeholder="Enter coupon code">
            </div>
            <div class="cpn2">
                    <button id="apply-coupon" (click)="validateCoupon()">Apply</button>
            </div>

        </div>
        <div id="error-bar"><i class="fa-solid fa-triangle-exclamation"></i>  Invalid Coupon Code</div>
        <div id="correct-bar"><i class="fa-solid fa-circle-check"></i>  Coupon Code Applied</div>

        <div class="checkout flex justify-content-center mt-3">
            <button id="header-text-btn" routerLink='/checkout'>Proceed To Checkout</button>
        </div>
    </div>
</div>