<div class="cart-page flex-only mt-5 ">
    <div class="left-part">
        <div class="headings flex">
            <div class="product text-center ">PRODUCT</div>
            <div class="price">PRICE</div>
            <div class="quantity">QUANTITY</div>
            <div class="subtotal">SUBTOTAL</div>
        </div>

        <div class="horizontal-line"></div>
        
        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div id="qa">3</div>
                <div id="qb"><i class="fa-solid fa-chevron-up fa-sm zoom ml-2"></i></div>
                <div id="qc"><i class="fa-solid fa-chevron-down fa-sm ml-1 zoom"></i></div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div id="qa">3</div>
                <div id="qb"><i class="fa-solid fa-chevron-up fa-sm zoom ml-2"></i></div>
                <div id="qc"><i class="fa-solid fa-chevron-down fa-sm ml-1 zoom"></i></div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div id="qa">3</div>
                <div id="qb"><i class="fa-solid fa-chevron-up fa-sm zoom ml-2"></i></div>
                <div id="qc"><i class="fa-solid fa-chevron-down fa-sm ml-1 zoom"></i></div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div id="qa">3</div>
                <div id="qb"><i class="fa-solid fa-chevron-up fa-sm zoom ml-2"></i></div>
                <div id="qc"><i class="fa-solid fa-chevron-down fa-sm ml-1 zoom"></i></div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="cart-items flex justify-content-center">
            <div class="product text-center">
                <img src="../../../../assets/food_1.png" alt="">
                <span>Black Coffee</span>
            </div>
            <div class="price flex">£11.76</div>
            <div class="quantity flex">
                <div id="qa">3</div>
                <div id="qb"><i class="fa-solid fa-chevron-up fa-sm zoom ml-2"></i></div>
                <div id="qc"><i class="fa-solid fa-chevron-down fa-sm ml-1 zoom"></i></div>
            </div>
            <div class="subtotal">	£35.28 </div>
        </div>

        <div class="horizontal-line"></div>

    </div>

    <div class="right-part">
        <h2>CART  TOTALS</h2>
        <div class="rsubtotal flex justify-content-sb">
            <div class="title">
                Subtotal
            </div>
            <div class="sprice">
                £68.45
            </div>
        </div>
        <div class="shipping flex justify-content-sb">
            <div class="title">
                Shipping
            </div>
            <div class="stext">
                Shipping costs are calculated during checkout.
            </div>
        </div>
        <div class="total flex justify-content-sb">
            <div class="title">
                Total
            </div>
            <div id="tprice" style="font-size: 30px;">
                £68.45
            </div>
        </div>
        <div class="coupon flex justify-content-sb mb-4">
            <div class="cpn1">
                <input type="text" name="" id="" placeholder="Enter coupon code">
            </div>
            <div class="cpn2">
                <button id="apply-coupon" routerLink='/shop'>Apply</button>
            </div>
        </div>
        <div class="checkout flex justify-content-center">
            <button id="header-text-btn" routerLink='/shop'>Proceed To Checkout</button>
        </div>
    </div>
</div>