/* body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #8C9EFF;
    background-repeat: no-repeat;
} */
#order-id{
    color:green;
}
.wrapper{
    background: #fafafa;
}

.card {
    z-index: 0;
    /* background-color: #ECEFF1; */
    padding-bottom: 20px;
    margin-top: 20px;
    /* border-radius: 10px; */
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #e80000;
    padding-left: 0px;
    margin-top: 30px;
} 

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
    margin: auto;
    /* border: 1px solid #e80000; */
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #e5e5e5;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #e80000;
    transition: 3s all ease-in-out;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin: auto;
}
#progressbar li.cactive:before, #progressbar li.cactive:after {
    background: #e80000;
    transition: 3s all ease-in-out;

}

#progressbar li.cactive:before {
    font-family: FontAwesome;
    content: "\f00d";
    margin: auto;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content { 
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}

.address-col{
    padding:4rem;
}
.left-card{
    flex:1;
    padding:1rem;
    width: 100%;
    background: white;
    margin-right: 20px;
    height: 20rem;
}
.right-card{
    flex:2;
    padding:1rem;
    width: 100%;
    background: white;
    height: 20rem;
}

.heading{
    border-bottom: 2px solid #eeeded;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.heading p{
    margin: auto 0;
    font-weight: 700;
}
.name p{
    font-weight: 700;
}
.address p,.phone p{
    font-weight: 500;
}
.phone p span{
    font-weight: 700;
}
.details,.name,.address,.phone,.heading,.change-address{
    padding: 0.5rem 2rem;
}
.heading{
    padding: 0.5rem 2rem;
}

#header-text-btn{
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.6s ease;
    background-color: #e80000;
    color: white;
    
  }

  #order-status{
    background-color: rgb(212, 255, 147);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding:0.5rem;
    font-weight: 400;

}
.details{
    margin-top:2rem;
    margin-top:2rem;
}
.details-order{
    font-weight: 500;
}