<div class="wrapper">

    <div class="container px-1 px-md-4 py-5 mx-auto">
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex">
                    <h5 >ORDER <span id="order-id" class="font-weight-bold color-green" >#{{order.orderId}}</span></h5>
                </div>
                <div class="d-flex flex-column text-sm-right">
                    <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                    <p>USPS <span class="font-weight-bold">{{order.id}}</span></p>
                </div>
            </div>
            <!-- Add class 'active' to progress -->
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                <ul id="progressbar" class="text-center">
                    <li id="status-placed" class="step0"></li>
                    <!-- add cancel status -->
                    <li id="status-confirmed"class="step0"></li>
                    <li id="status-ofd" class="step0"></li>
                    <li id="status-delivered" class="step0"></li>
                </ul>
                </div>
            </div>
            <div class="row justify-content-between top">
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>Placed</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold" id="confirm-cancel-status">Order<br>Confirmed</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Out For<br>Delivery</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>Delivered</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container flex flex-row px-1 px-md-4 py-5 mx-auto address-col">
        <div class="left-card">
            <div class="heading">
                <div><p>Delivery Address</p></div>
                
            </div>
            <div class="deatils">
                <div class="name">
                    <p>{{order.userName}}</p>
                </div>
                <div class="address">
                    <p>{{order.address}}</p>
                </div>
                <div class="phone">
                    <p><span>Phone Number: </span> {{order.phone}}</p>
                </div>
            </div>
            <div class="change-address">
                <button id="header-text-btn" routerLink='/shop'>Order Now</button>
            </div>
        </div>
        <div class="right-card">
            <div class="heading flex justify-content-between">
                <p>Your order application</p>
                <div id="order-status">{{orderStatus}}</div>
            </div>
            <div class="details">
                <div class="details-order">
                    <p><i class="fa-solid fa-qrcode px-1"></i> Order Reference : {{order.orderId}}</p>
                </div>
                <div class="details-order" *ngIf="order.paymentType=='online'">
                    <p><i class="fa-solid fa-cash-register px-1"></i> Payment method : Card/UPI</p>
                </div>
                <div class="details-order" *ngIf="order.paymentType=='cash'">
                    <p><i>class="fa-solid fa-cash-register px-1"></i> Payment method : Cash on delivery</p>
                </div>
                <div class="details-order">
                    <p><i class="fa-solid fa-ban px-1"></i> Cancellation Policy : Valid till XX</p>
                </div>
            </div>
            <div class="change-address">
                <button id="header-text-btn" routerLink='/shop'>Cancel Order</button>
            </div>
        </div>

    </div>
</div>