<!-- <div class="container mt-5 text-center md-5" id="main">
    <div class="overlay">
        <h1 class="mt-5"><i class="fa-solid fa-user fa-lg"></i> Sign In</h1>

        <form [formGroup]="formGroup" class="mt-5">

            <mat-form-field appearance="fill" class="mt-3">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Your Email" formControlName="email" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password" formControlName="password" required>
            </mat-form-field>
            <br>
            <div class="container text-center mt-2">
                <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Login</button>
            </div>

        </form>


        <p class="message mt-2">Forgot Your Password? <a href="#">Click Here</a></p>
    </div>

</div> -->


<!-- <section>
    <div class="image-content">
        <img src="../../assets/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai.jpg">
    </div>
    <div class="contentBx">
        <div class="circle"></div>
        <div class="formBx">
            <h1>Sign In</h1>
            <form method="post" action="/">
                <div class="inputBx">
                    <span>EMAIL</span>
                    <input type="email" placeholder="abc@email.com" name="username">
                </div>
                <div class="inputBx">
                    <span>PHONE-NO</span>
                    <input type="text" placeholder="0123456789" name="password">
                </div>
                <div class="remember">
                    <label><input type="checkbox" name=""> I've read and agree with Terms of Service and our Privacy
                        Policy.</label>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Login" name="">
                </div>
                <div class="inputBx">
                    <p class="social-text">Or</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-solid fa-cart-shopping fa-xl"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="loader"></div> -->

<i class="fa-brands fa-facebook">GAA</i>
<a href="">
    <i class="fa-brands fa-google"></i>
</a>