<div class="cart-page flex-only mt-5" *ngIf="checkOutItems.length>0;else emptycart">
    <div class="left-part">
        <div class="title" style="font-size: xx-large;">Checkout</div>
        <div class="input-area flex justify-content-sb mt-5">
            <div class="first-name">
                First Name
            </div>
            <div class="input-group">
                <input type="text" value="Ayush">
            </div>
        </div>
        <div class="input-area flex justify-content-sb mt-3">
            <div class="last-name">
                Last Name
            </div>
            <div class="input-group">
                <input type="text" value="Sharma">
            </div>
        </div>
        <div class="input-area flex justify-content-sb mt-5">
            <div class="address">
                Address
            </div>
            <div class="input-group" id="address-ipg">
                <div class="address-list mt-2" id="{{address.id}}" *ngFor="let address of addressList" (click)="onAddressClick(address,$event)">
                    {{address.addressLine1}}
                    <i class="fa-regular fa-circle-check fa-lg"></i>
                </div>

                <button id="new-address" class="mt-3">+ Add new address</button>
            </div>
        </div>

        <div class="input-area flex justify-content-sb mt-5">
            <div class="email">
                Email Address
            </div>
            <div class="input-group">
                <input type="text" value="ayush@tomato.com">
            </div>
        </div>
        
        <div class="input-area flex justify-content-sb mt-5">
            <div class="note">
                Phone Number
            </div>
            <div class="input-group">
                <input type="text" value="+91 9874180842">
            </div>
        </div>

        <div class="input-area flex justify-content-sb mt-5">
            <div class="note">
                Additional Note
            </div>
            <div class="input-group">
                <input type="text" value="Send it Fastt!">
            </div>
        </div>

    </div>

    <div class="right-part">
        <h2>Order Summary</h2>
        <div class="rsubtotal flex justify-content-sb">
            <div class="title">
                Product
            </div>
            <div class="sprice">
                Subtotal
            </div>
        </div>
        <div class="rsubtotal flex justify-content-sb" *ngFor="let item of checkOutItems">
            <div class="checkout-item-title">
                {{item.food.name}} x<span class="checkout-item-quantity">{{item.quantity}}</span> 
            </div>
            <div class="checkout-item-subtotal">
                {{item.getPrice()}}
            </div>
        </div>
        <div class="shipping flex justify-content-sb">
            <div class="title">
                Delivery
            </div>
            <div class="stext">
                {{getDeliveryCost()}}
            </div>
        </div>
        <div class="shipping flex justify-content-sb">
            <div class="title">
                Discount
            </div>
            <div class="stext">
                -{{getDiscountAmount()}}
            </div>
        </div>
        <div class="total flex justify-content-sb">
            <div class="title">
                Total
            </div>
            <div id="tprice">
                <div id="idtpricewithcoupon" class="mt-3" style="font-size: 18px;">
                    {{getTotalCost()}} 
                </div>
            </div>
        </div>

        <div class="payment flex justify-content-sb">
            <div class="payment-title">
                Payment Mode
            </div>
            <div class="payment-group">
                <div class="payment-cash text-center" (click)="selectPaymentMode('cod')">
                    <div class="content">
                        <i class="fa-solid fa-money-bill-1"></i> Cash
                    </div>
                    <i class="fa-regular fa-circle-check payment-select"></i>
                </div>
                <div class="payment-card mt-3 text-center" (click)="selectPaymentMode('online')">
                    <div class="content">
                        <i class="fa-solid fa-credit-card"></i> Card/UPI
                    </div>
                    <i class="fa-regular fa-circle-check payment-select"></i>
                </div>
            </div>
        </div>

        <div class="checkout flex justify-content-center mt-5">
            <button id="header-text-btn" (click)="onPlaceOrder()">Place Order</button>
        </div>
    </div>
</div>
<ng-template #emptycart>
    <app-empty-cart></app-empty-cart>
</ng-template>