<section class="flex">
    <div class="image-content left-part">
        <img src="../../assets/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai.jpg">
    </div>
    <!-- Login  -->
    <div class="right-part text-center">
        <!-- <div class="logo">
            <img src="../../../assets/tomato_logo.png" alt=""><span style="font-size: 24px;font-weight: 500;text-transform: uppercase;">Tomato - Delivering Happiness</span>
        </div> -->
        <div class="content" [style.display]="isSignInActive ? 'block' : 'none'" id="login-content">
            <div class="circle"></div>
            <div class="formBx">

                <div id="slider" class="flex">
                    <button style="width: 50%; font-size: medium;font-weight: 500;text-transform: uppercase;" id="sliderL" class="button-active sliderL "
                        (click)="toggleToSignIn()"><i class="fa-solid fa-right-to-bracket"></i> Sign In</button>
                    <button style="width: 50%; font-size: medium;font-weight: 500;text-transform: uppercase;" id="sliderR" class="button-inactive sliderR "
                        (click)="toggleToRegister()"><i class="fa-solid fa-user-plus"></i> Register</button>
                </div>

                <form [formGroup]="formGroup" class="mt-5">
                    <div class="text-left">
                        <!-- <span>EMAIL</span> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="Enter Your Email" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <!-- <span>PASSWORD</span> -->
                        <!-- <input type="password" placeholder="Enter your password" name="password"> -->
                        <mat-form-field appearance="outline" class="mt-2">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter Your Password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                    <!-- <div class="remember">
                        <label><input type="checkbox" name=""> I've read and agree with Terms of Service and our Privacy
                            Policy.</label>
                    </div> -->
                    <div class="inputBx">
                        <!-- <input type="submit" value="Login" name="" (click)="onSubmit()"> -->
                        <button type="submit" class="auth-btn" (click)="onLoginSubmit()">Login</button>
                    </div>
                    <div class="inputBx">
                        <p class="social-text">or sign in with</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Register  -->

        <div class="content" [style.display]="isSignInActive ? 'none' : 'block'" id="register-content">
            <div class="circle"></div>
            <div class="formBx">
                <!-- <h1>Sign In</h1> -->
                <div id="slider" class="flex">
                    <button style="width: 50%; font-size: medium;font-weight: 500;text-transform: uppercase;" id="sliderL" class="button-active sliderL "
                        (click)="toggleToSignIn()"><i class="fa-solid fa-right-to-bracket"></i> Sign In</button>
                    <button style="width: 50%; font-size: medium;font-weight: 500;text-transform: uppercase;" id="sliderR" class="button-inactive sliderR "
                        (click)="toggleToRegister()"><i class="fa-solid fa-user-plus"></i> Register</button>
                </div>

                <form [formGroup]="regFormGroup" class="mt-5 regForm">
                    <div class="text-left">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Enter Your Name" formControlName="firstName" required>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Enter Your Name" formControlName="lastName" required>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <mat-form-field appearance="outline" class="mt-2">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="Enter Your Email" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <mat-form-field appearance="outline" class="mt-2">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter Your Password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>About</mat-label>
                            <input matInput placeholder="Tell something about yourself" formControlName="about" required>
                        </mat-form-field>
                    </div>
                    <!-- <div class="remember">
                        <label><input type="checkbox" name=""> I've read and agree with Terms of Service and our Privacy
                            Policy.</label>
                    </div> -->
                    <div class="inputBx">
                        <button [disabled]="regDetailsFilled" [class.disabled]="regDetailsFilled" type="submit" class="auth-btn" (click)="onRegSubmit()">Sign Up</button>
                    </div>
                </form>

                <div class="social-auth">
                    <p class="social-text">or sign up with</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <!-- OTP Submit Area -->
                <form [formGroup]="otpForm" class="otpForm mt-5">
                    <div class="go-back text-left" style="width: 100%;">
                        <i class="fa-solid fa-caret-left fa-2xl" (click)="backToRegForm()"></i>
                    </div>
                    <p class="mt-5" style="font-size: medium;font-weight: 600;">Enter One Time Password</p>
                    <div class="otp-input-group flex m-auto mt-5" style="width: fit-content;">
                        <input matInput type="text" maxlength="1" id="otp1" class="otp-input" (input)="shiftFocus($event, 'otp2')" formControlName="otp1">
                        <input matInput type="text" maxlength="1" id="otp2" class="otp-input" (input)="shiftFocus($event, 'otp3')" formControlName="otp2">
                        <input matInput type="text" maxlength="1" id="otp3" class="otp-input" (input)="shiftFocus($event, 'otp4')" formControlName="otp3">
                        <input matInput type="text" maxlength="1" id="otp4" class="otp-input" (input)="shiftFocus($event, 'otp5')" formControlName="otp4">
                        <input matInput type="text" maxlength="1" id="otp5" class="otp-input" (input)="shiftFocus($event, 'otp6')" formControlName="otp5">
                        <input matInput type="text" maxlength="1" id="otp6" class="otp-input" formControlName="otp6">      
                    </div>
                    <div class="otp-input-group flex m-auto" style="width: fit-content;">
                        <button [disabled]="otpFilled" [class.disabled]="otpFilled" type="submit" class="auth-btn" (click)="onOtpSubmit()">Submit</button>
                        <button type="submit" id="resend-btn" class="auth-btn" (click)="sendOtp()">Resend</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="loader"></div>