<section class="section-cover">
    <div class="blur-load">
        <img src="../../assets/section_cover_1.webp" loading="lazy">
        <div class="dummy text-center">
            <h1>Shop</h1>
            <p>Home > Shop</p>
        </div>
    </div>
</section>

<section class="products-wrapper flex-only">
    <div class="left-part">
        <div class="filter-bar flex justify-content-sb">

            <div class="showing">
                <p id="show">Showing 1–{{cartItems.length}} of {{cartItemsOrg.length}} results</p>
            </div>
            <i class="fa-solid fa-table-cells-large fa-xl"></i>
            <i class="fa-solid fa-list fa-xl ml-2"></i>

            <div class="sort-filter flex">
                <div class="contains-select">
                    <select (change)="sortingInitiator()" id="sort-select">
                        <option value="default">Default Sorting</option>
                        <option value="rating">Sort By Rating</option>
                        <option value="lowtohigh">Sort By Price Low To High</option>
                        <option value="hightolow">Sort By Price High To Low</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="cards flex flex-wrap justify-content-center">

            <div class="product" *ngFor="let cartItem of cartItems">
                <div class="product-image text-center m-auto smooth">
                    <img src="{{cartItem.food.imageUrl}}" alt="Image not available">
                </div>
                <div class="star-rating">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
                <h1>{{ cartItem.food.name }}</h1>
                <p>{{cartItem.food.description }}</p>
                <div class="product-amount flex justify-content-sb">
                    <div class="price flex">
                        <div><i class="fa-solid fa-dollar-sign fa-lg"></i></div>
                        <div id="product-price" style="font-size: 16px;">{{cartItem.food.price}}.00</div>
                    </div>
                    <div class="cart flex">
                        <div class="wrapper flex ml-auto">
                            <div id="qb" (click)="decClickedCardCount(cartItem)"><i class="fa-solid fa-minus fa-xs"></i>
                            </div>
                            <div id="qa" class="ml-2">
                                <i class="fa-solid fa-cart-shopping fa-md ml-1"></i>
                                <span class="badge" style="font-size:10px;">{{cartItem.quantity}}</span>
                            </div>
                            <div id="qc" class="ml-2" (click)="incClickedCardCount(cartItem)"><i
                                    class="fa-solid fa-plus fa-xs"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination text-center mt-5" style="width: 100%;">
                <mat-paginator 
                [length]="cartItems.length"
                [pageSize]="3"
                aria-label="Select page" style="  margin: 0 auto;
                ;width: 80%;">
              </mat-paginator>  
        </div>
    </div>

    <div class="right-part">

        <div class="categories-card text-center">
            <div class="flex justify-content-between pl-4 pr-4" >
                <div id="categories-heading">
                    <h1><i class="fa-solid fa-tag fa-xl"></i> Categories</h1>
                </div>
                <div><a (click)="clearAll()">Clear All</a></div>
            </div>
            
            <br>
            <div id="all-cat"class="categories">

                <div class="category flex justify-content-sb" id="category-{{category.id}}" (click)="categoryUIChange(category)" *ngFor='let category of categoryList'>
                    <div class="category-info">
                        <i class="fa-solid fa-burger fa-xl"></i>
                        {{category.name}}
                    </div>
                    <div class="category-count">
                        {{getCategoryCount(category)}}
                    </div>
                </div>

            </div>
        </div>

        <div class="search-bar flex justify-content-sb">
            <div class="search-box">
                <input placeholder="Let's have a bite" type="text" id="inputbox" [(ngModel)]="key"
                    (ngModelChange)="filterFoodItems($event)">
            </div>
            <div class="search-icon flex justify-content-center">
                <i class="fa-brands fa-searchengin fa-2xl"></i>
            </div>
        </div>

        <div class="best-deals text-center mt-4">
            <div id="best-deals-heading" class="mt-3">
                <h1><i class="fa-solid fa-ribbon fa-xl"></i> Best Deals</h1>
            </div>

            <div class="deals mt-3">
                <div class="deal flex">
                    <div class="list-view-image">
                        <img src="../../assets/food_1.png" alt="">
                    </div>
                    <div class="list-view-details">
                        <div class="star-rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>

                        <h1>Apricot Chicken</h1>
                        <div class="list-view-price flex justify-content-center">
                            <div><i class="fa-solid fa-dollar-sign fa-xl"></i></div>
                            <div id="product-price">18.72</div>
                        </div>

                    </div>
                </div>
                <div class="deal flex">
                    <div class="list-view-image">
                        <img src="../../assets/food_1.png" alt="">
                    </div>
                    <div class="list-view-details">
                        <div class="star-rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>

                        <h1>Apricot Chicken</h1>
                        <div class="list-view-price flex justify-content-center">
                            <div><i class="fa-solid fa-dollar-sign fa-xl"></i></div>
                            <div id="product-price">18.72</div>
                        </div>

                    </div>
                </div>
                <div class="deal flex">
                    <div class="list-view-image">
                        <img src="../../assets/food_1.png" alt="">
                    </div>
                    <div class="list-view-details">
                        <div class="star-rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>

                        <h1>Apricot Chicken</h1>
                        <div class="list-view-price flex justify-content-center">
                            <div><i class="fa-solid fa-dollar-sign fa-xl"></i></div>
                            <div id="product-price">18.72</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


