<h2 mat-dialog-title>Checkout Your Order :) </h2>
<mat-dialog-content class="mat-typography">
    <!-- <button mat-raised-button (click)="isOptional = !isOptional">
        {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
      </button> -->
      
      <mat-stepper linear #stepper>

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill Out Your Details</ng-template>
            <mat-form-field appearance="outline" class="mt-3">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Your Full Name" formControlName="fullName" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Enter Your Mobile Number" formControlName="contactNumber" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Address Line 1</mat-label>
                <input matInput placeholder="Enter Your Full Address" formControlName="address1" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Address Line 2</mat-label>
                <input matInput placeholder="Enter Your Full Address" formControlName="address2">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Postal/Zip Code</mat-label>
                <input matInput placeholder="Enter ZIP Code" formControlName="postalCode" required>
            </mat-form-field>

              <!-- <mat-label>City</mat-label>
              <input matInput placeholder="Enter Your Full Address" formControlName="firstCtrl" required>
              <mat-label>Country</mat-label>
              <input matInput placeholder="Enter Your Full Address" formControlName="firstCtrl" required> -->
 
            <div>
              <a (click)="stepper.next()">
                <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
              </a>
            </div>
          </form>
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Type Of Payment</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
                <a (click)="stepper.previous()">
                    <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
                </a>
                <a class="ml-1" (click)="stepper.next()">
                    <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
                </a>
            </div>
          </form>
        </mat-step>
        
        <mat-step>
          <ng-template matStepLabel>Place Your Order</ng-template>
            <h1>Order Summary</h1>
          <div class="mt-3">
            <a (click)="stepper.previous()">
                <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
            </a>
            <a class="ml-3" (click)="stepper.reset()">
                <i class="fa-solid fa-rotate fa-2xl"></i>
            </a>
          </div>
        </mat-step>

      </mat-stepper>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" color="warn">Cancel</button>
  <button mat-raised-button  cdkFocusInitial color="primary" (click)="showSweetAlert()">Pay On COD</button>
  <button mat-raised-button id="rzp-button1" cdkFocusInitial color="accent" (click)="openPaymentRequest()">Pay Online</button>

</mat-dialog-actions>