<section class="image-wrapper">
    <div class="header-banner-image blur-load">
        <img src="../../assets/home_cover.jpg" loading="lazy">
    </div>
    <div class="header-content flex">
        <div class="header-text-logo">
            <h1 id="header-text-1">WELCOME TO TOMATO <span><img src="../../assets/tomato_logo.png" alt=""></span> </h1>
            <h1 id="header-text-2" class="typing-text">CRAVING <span> SOMETHING ?</span></h1>
            <button id="header-text-btn" routerLink='/shop'>Order Now</button>
        </div>
        <div class="header-image text-center">
            <img src="../../assets/food_3.png" alt="">
        </div>
    </div>
</section>