<!-- <app-search></app-search> -->

<!-- Search -->
<div class="container text-center mt-3">
    <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Eat What?</mat-label>
        <input matInput placeholder="Enter Item To Search">
        <mat-icon matSuffix fontIcon="search"></mat-icon>
      </mat-form-field>   
</div>

<app-tags></app-tags>

<app-not-found [visible]="!foods || foods.length<= 0"> </app-not-found>

<!-- <ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="foodimages">
            <div class="content">
                <div style="color: blue" class="name">
                    {{food.name}}
                </div>
                <div class="price">
                    Price : {{food.price}}
                </div>
                <div style="color: rgb(94, 94, 29);" class="stars">
                    {{food.stars}}⭑
                </div>
            </div>
        </a>
    </li>
</ul> -->
<div class="container mt-4">
    <div class="row">
        <div class="col-4 mt-3" *ngFor="let food of foods">
            <mat-card class="example-card" >
                <div class="food-header">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{food.name}}</mat-card-title>
                        <mat-card-subtitle>{{food.stars}}*</mat-card-subtitle>
                      </mat-card-header>      
                </div>
                <div class="food-image">
                    <img mat-card-image src={{food.imageUrl}} alt="Sorry, Not Able To Render">
                </div>
                <!-- <div class="food-content">
                    <mat-card-content>
                        <p>
                          {{food.origins}}
                        </p>
                      </mat-card-content>      
                </div> -->
                <div class="food-actions mt-4 text-center">
                    <!-- <mat-card-footer> -->
                        <!-- <div class="container-fluid"> -->
                            <div class="row">
                                <div class="col-4">
                                    <button mat-raised-button color="primary">Price : ₹{{food.price}}</button>
                                </div>  
                                <div class="col-8 text-right mt-2">
                                    <a>
                                        <mat-icon [matBadge]="9" matBadgeColor="warn">add_shopping_cart</mat-icon>
                                        <!-- <mat-icon class="ml-3">add_circle_outline</mat-icon> -->
                                        <mat-icon class="ml-1">keyboard_arrow_up</mat-icon>
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </a>
                                </div>
                            </div>    
                        <!-- </div> -->
                        <!-- <button class="ml-2" mat-raised-button color="accent">Add To Cart 🛒</button> -->
                        <!-- <div class="demo-section"> -->
                        <!-- </div> -->
                          
                        <!-- <button class="ml-2" mat-raised-button color="warning">Details</button> -->
                    <!-- </mat-card-footer>       -->
                </div>
              </mat-card>                
        </div>
    </div>
</div>
