.search-bar{
    min-width: 50%;
    /* width: auto; */
}
.example-card {
    height: 400px;
    max-width: 400px;
    border-radius: 5px;
    /* background-color: sienna; */

}


.food-header{
    height: 75px;
}
.food-image{
    height: 250px;
}
.food-actions{
    height: 50px;
}
img{
    height: 250px;
}

  a{
    cursor: pointer;
  }

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  *{
    background-color: #fcfcfc;
  }


  .image-container {
    width: 100vw; /* Set the width to 100% of the viewport width */
    height: 70vh; /* Set the height to 100% of the viewport height */
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    overflow: hidden; /* Hide any overflow from the image */
  }
  
  .image-container img {
    width: 100%; /* Make the image fill the width of the container */
    height: 100%; /* Make the image fill the height of the container */
    object-fit: cover; /* Maintain aspect ratio and fit the image within the container */
    object-position: bottom;
  }

  .search-bar {
    position: absolute; /* Position absolute within the container */
    top: 25%; /* Align the search bar vertically in the middle */
    left: 50%; /* Align the search bar horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the search bar precisely */
    z-index: 1; /* Ensure the search bar is above the image */
    margin: 0;
    border-radius: 25px; /* Adjust the radius to your preference */
    height: 6vh;
    width: 40vw;
    /* align-items: center;
    justify-content: center; */
}

#inputbox {
    flex: 1; 
    border: none;
    height: 100%;
    padding: 0;
    font-size: 18px;
    outline: none;
    width: 100%; /* Ensure the input box fills the entire width of the search-bar */
  }
.search-box{
    height: 90%;
}
.search-icon{
    height: 90%;    
    /* background-color:red; */
}

.custom-icon {
    flex: 1; 
    border: none;
    height: 100%;
    padding: 0;
    font-size: 32px;
    outline: none;
    width: 100%; /* Ensure the input box fills the entire width of the search-bar */
}
  
  