<!-- <app-search></app-search> -->

<!-- Search -->
<div class="container text-center mt-3">
    <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Eat What?</mat-label>
        <input matInput placeholder="Enter Item To Search" [(ngModel)]="key" (ngModelChange)="filterFoodItems($event)">
        <mat-icon matSuffix fontIcon="search"></mat-icon>
    </mat-form-field>   
</div>

<app-tags></app-tags>

<app-not-found [visible]="!foods || foods.length<= 0"> </app-not-found>

<div class="container mt-4">
    <div class="row">
        <div class="col-4 mt-3" *ngFor="let food of foods" (click)="getClickedCardData(food)">
            <mat-card class="example-card">
                <div class="food-header">
                    <mat-card-header>
                        <mat-card-title>{{food.name}}</mat-card-title>
                        <mat-card-subtitle><strong>{{food.stars}}*</strong></mat-card-subtitle>
                      </mat-card-header>      
                </div>
                <div class="food-image">
                    <img mat-card-image src={{food.imageUrl}} alt="Sorry, Not Able To Render">
                </div>
                <!-- <div class="food-content">
                    <mat-card-content>
                        <p>
                          {{food.origins}}
                        </p>
                      </mat-card-content>      
                </div> -->
                <div class="food-actions mt-4 text-center">
                            <div class="row">
                                <div class="col-4">
                                    <button mat-raised-button color="primary">Price : ₹{{food.price}}</button>
                                </div>  
                                <div class="col-8 text-right mt-2">
                                    <a>
                                        <mat-icon class="zoom" [matBadge]="getCartCount(food)" matBadgeColor="warn" (click)="navToCartPage()">add_shopping_cart</mat-icon>
                                        <!-- <mat-icon class="ml-3">add_circle_outline</mat-icon> -->
                                        <mat-icon class="ml-1 zoom" (click)="incClickedCardCount(food)">keyboard_arrow_up</mat-icon>
                                        <mat-icon class="zoom" (click)="decClickedCardCount(food)">keyboard_arrow_down</mat-icon>
                                    </a>
                                </div>
                            </div>    
                </div>
              </mat-card>                
        </div>
    </div>
</div>
